<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  
    <servlet>
    <servlet-name>RackFavouritesService</servlet-name>
    <servlet-class>cs310MRAK.rackcity.server.RackFavouritesServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>RackFavouritesService</servlet-name>
    <url-pattern>/rack_city/rackfavouritesservice</url-pattern>
  </servlet-mapping>
  
  
   <!-- Servlets !! change to Google+ After Sprint -->
  
   <!-- Servlets for bike racks -->  
  <servlet>
    <servlet-name>rackService</servlet-name>
    <servlet-class>cs310MRAK.rackcity.server.rackServiceImpl</servlet-class>
  </servlet>
 
 
  <servlet-mapping>
    <servlet-name>rackService</servlet-name>
    <url-pattern>/rack_city/rack</url-pattern>
  </servlet-mapping>
  
  <!-- Servlets for crimes -->  
  <servlet>
    <servlet-name>crimeService</servlet-name>
    <servlet-class>cs310MRAK.rackcity.server.crimeServiceImpl</servlet-class>
  </servlet>
 
 
  <servlet-mapping>
    <servlet-name>crimeService</servlet-name>
    <url-pattern>/rack_city/crime</url-pattern>
  </servlet-mapping>
  
    <!-- Servlets for userInfo -->  
  <servlet>
    <servlet-name>userService</servlet-name>
    <servlet-class>cs310MRAK.rackcity.server.userServiceImpl</servlet-class>
  </servlet>
 
 
  <servlet-mapping>
    <servlet-name>userService</servlet-name>
    <url-pattern>/rack_city/userinfo</url-pattern>
  </servlet-mapping>
  
  
  
  
  <!-- Servlet for FTP Connection. Or maybe we'll have to use dropbox. wtf -->

 
<!--    <servlet> -->
<!--     <servlet-name>FTPservice</servlet-name> -->
<!--     <servlet-class>cs310MRAK.rackcity.server.FTPserviceImpl</servlet-class> -->
<!--      </servlet> -->
 
 
<!--   <servlet-mapping> -->
<!--     <servlet-name>FTPservice</servlet-name> -->
<!--     <url-pattern>/rack_city/grabData</url-pattern> -->
<!--   </servlet-mapping> -->
  
  
    <!-- https://code.google.com/p/googleappengine/issues/detail?id=8166 -->
    
<!--   <filter> -->
<!--     <filter-name>_ah_DevSocketFilter</filter-name> -->
<!--     <filter-class> -->
<!--       com.google.appengine.api.socket.dev.DevSocketFilter -->
<!--     </filter-class> -->
<!--     <init-param> -->
<!--       <param-name>use-native-sockets</param-name> -->
<!--       <param-value>true</param-value> -->
<!--     </init-param> -->
<!--   </filter> -->

<!--   <filter-mapping> -->
<!--     <filter-name>_ah_DevSocketFilter</filter-name> -->
<!--     <url-pattern>/*</url-pattern> -->
<!--   </filter-mapping> -->
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Rack_City.html</welcome-file>
  </welcome-file-list>

</web-app>