<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  
    <servlet>
    <servlet-name>RackFavouritesService</servlet-name>
    <servlet-class>cs310MRAK.rackcity.server.RackFavouritesServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>RackFavouritesService</servlet-name>
    <url-pattern>/rackcity/rackfavouritesservice</url-pattern>
  </servlet-mapping>
  
  
  
    <servlet>
    <servlet-name>StolenBikesService</servlet-name>
    <servlet-class>cs310MRAK.rackcity.server.StolenBikesServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>StolenBikesService</servlet-name>
    <url-pattern>/rackcity/stolenbikesservice</url-pattern>
  </servlet-mapping>
  
  
   <!-- Servlets !! change to Google+ After Sprint -->
  <servlet>
    <servlet-name>loginService</servlet-name>
    <servlet-class>cs310MRAK.rackcity.server.LoginServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>loginService</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  
   <!-- Servlets for bike racks -->  
  <servlet>
    <servlet-name>rackService</servlet-name>
    <servlet-class>cs310MRAK.rackcity.server.rackServiceImpl</servlet-class>
  </servlet>
 
 
  <servlet-mapping>
    <servlet-name>rackService</servlet-name>
    <url-pattern>/rack_city/rack</url-pattern>
  </servlet-mapping>
      
      
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Rack_City.html</welcome-file>
  </welcome-file-list>

</web-app>